$color1:#a07bf7;
$color2:#707070;
$color3:#6F6F73;
$color4:#fff;
$color5:#5938cd;
$color6:#FAFAFA;
$color7:#2b2b2b;
$color8:#7C57FD;
$color9:#f9f9f9;
$color10:#FAE9EF;
$color11:#E2ECF6;
$color12: #BDBEC8;
$color13: #8E8F95;
$color14: #EEF1FE;
$color15: #f8f9fa;
$color16: #F1C30F;
$fz30:30px;
$fz72:72px;
$fz100:100px;
$fz14:14px;
$fz13:13px;
$fz16: 16px;
$fz12:12px;
$fz17:17px;
$fz18:18px;
$fz20:20px;
$fz11:11px;
$fz15:15px;
$fz24:24px;
$fz35:35px;
$fz70:70px;
$fz48:48px; 
$border_search: 1px solid #d9d9d9;